html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p ,div{
  /* color :black ; */
}



.bulletslider .react-multi-carousel-dot-list{
    justify-content: flex-end !important;
}

.bulletslider .react-multi-carousel-dot--active button {
  background-color: white;
}

.react-multi-carousel-dot button{
      border-color: white;
}

.chakra-divider{
 background-color: #b3b3b3 !important ;
}