html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




.postfinaldata p strong {
  font-size: 16px;
}
.bulletslider .react-multi-carousel-dot-list{
    justify-content: flex-end !important;
}

.bulletslider .react-multi-carousel-dot--active button {
  background-color: white;
}

.react-multi-carousel-dot button{
      border-color: white;
}

.chakra-divider{
 background-color: #b3b3b3 !important ;
}

.subheading div a, .subheading p span {
  font-size: 20px !important;
}

p{
/* color: rgba(0, 0, 0, 0.85)   ; */
}

.react-multiple-carousel__arrow{
  z-index: 99 !important;
}



.postfinaldata p .block , .postfinaldata p span{
  line-height: 1.4;
  font-size:26px !important ;
} 

.postfinaldata ul ,.postfinaldata ol{
  margin-left: 25px;
  font-size: 15px;
    line-height: 1.7;
}

.postfinaldata ul li ,.postfinaldata ol li{
margin-top: 14px;
}

 
.postfinaldata p {
margin-top: 25px;
margin-bottom: 25px;
font-size: 15px;
line-height: 1.7;
}
 
.postfinaldata h4{
  font-weight: bold;
  font-size: 1.44em;
  line-height: 1.4;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}


.postfinaldata blockquote:before{
    content: '\201c';
    display: block;
    position: relative;
    top: 0.225em;
    margin-bottom: 0.2em;
    color: #3545EE;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 0.3;
}

.postfinaldata blockquote{
  border-left : 5px solid #3545EE;
  padding-left: 20px;
}
  
.postfinaldata blockquote p{
  font-size: 19.2px;
}



/* .postfinaldata  img{
  padding-top: 20px;
padding-bottom: 20px;
} */

.lightThemeWpContent{

  color:puprle !important
}

















@media only screen and (max-width: 500px) {

.sticky-header-div{
  position: sticky;
  top: 0;
}

.postfinaldata p .block , .postfinaldata p span{
  line-height: 1.4;
  font-size:20px !important ;
  font-weight: 600 !important;
}

}