html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}





.bulletslider .react-multi-carousel-dot-list{
    justify-content: flex-end !important;
}

.bulletslider .react-multi-carousel-dot--active button {
  background-color: white;
}

.react-multi-carousel-dot button{
      border-color: white;
}

.chakra-divider{
 background-color: #b3b3b3 !important ;
}

.subheading div a, .subheading p span {
  font-size: 20px !important;
}

p{
/* color: rgba(0, 0, 0, 0.85)   ; */
}

.react-multiple-carousel__arrow{
  z-index: 99 !important;
}



.postfinaldata p .block , .postfinaldata p span{
  line-height: 1.4;
  font-size:26px !important ;
}

@media only screen and (max-width: 500px) {

.sticky-header-div{
  position: sticky;
  top: 0;
}

.postfinaldata p .block , .postfinaldata p span{
  line-height: 1.4;
  font-size:18px !important ;
}

}

 
.postfinaldata p {
margin-top: 20px;
margin-bottom: 20px;
font-size: 16px;
line-height: 1.7;
}
 


.postfinaldata  img{
  padding-top: 20px;
padding-bottom: 20px;
}

.lightThemeWpContent{

  color:puprle !important
}