html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}





.bulletslider .react-multi-carousel-dot-list{
    justify-content: flex-end !important;
}

.bulletslider .react-multi-carousel-dot--active button {
  background-color: white;
}

.react-multi-carousel-dot button{
      border-color: white;
}

.chakra-divider{
 background-color: #b3b3b3 !important ;
}



@media only screen and (max-width: 500px) {

.sticky-header-div{
  position: sticky;
  top: 0;
}
}